*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url(./swiperStyle.css);

@import url(./components/header.css);

@import url(./components/main.css);

@import url(./components/work.css);

@import url(./components/form.css);

@import url(./components/certifications.css);

@import url(./components/footer.css);

@import url(./whatsapp.css);